


@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");
@import "bootstrap.min.css";
@import "map_leaflet.css";


body {
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 400;
}

b {
  font-weight: 600;
}

@media only screen and (min-width: 992px) {
  .container {
    width: 1280px;
  }
}

ul {
  padding: 0;
}
ul li {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  h5 {
    font-size: 16px;
  }
  #map1{
    display: none;
  }
}

span,
img {
  display: inline-block;
}

a {
  color: #222222;
}

.text-neutral-2 {
  color: #717171;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-50 {
  margin-bottom: 50px;
}

.br-10 {
  border-radius: 10px;
}

.fs18 {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .row {
    width: 100%;
    margin: auto;
  }
  .row > * {
    padding: 0;
  }
}

.fa-heart {
  margin-right: 7px;
}

@media only screen and (max-width: 600px) {
  .card {
    margin-bottom: 20px;
  }
}

.nav-tabs .nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  border: 0 !important;
  color: #4A4A4A;
}
.nav-tabs .nav-link.active {
  color: #E86831 !important;
  border-bottom: 1px solid #E86831 !important;
}

input::-moz-placeholder {
  color: #B0B0B0;
  font-weight: 400;
}

.search-icon {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.explore-search {
  border-radius: 8px;
  background: #F7F7F7;
  position: relative;
}
.explore-search .search-box-icon {
  position: absolute;
  left: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
}
.explore-search input {
  all: unset;
  width: 100%;
  height: 48px;
  text-align: left;
  max-width: 80%;
  border-radius: 0 !important;
  border: 0 !important;
  background: transparent !important;
  box-shadow: 0 !important;
}

@media only screen and (max-width: 600px) {
  .explore-search input {
    width: 100%;
    padding-left: 48px;
  }
}

.quick-searches {
  display: flex;
  overflow-x: auto;
  margin-top: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.quick-searches::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.quick-searches .quick-search {
  border-radius: 20px;
  border: 1px solid rgba(221, 221, 221, 0.87);
  display: flex;
  height: 36px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: rgba(74, 74, 74, 0.83);
  font-size: 14px;
  font-weight: 400;
  margin-right: 16px;
  white-space: nowrap;
  cursor: pointer;
}
.quick-searches .quick-search:hover {
  background-color: rgba(221, 221, 221, 0.87);
}

.attraction {
  color: #6A6A6A;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.attraction span {
  margin: 0 5px;
}

img.pinned {
  position: absolute;
  left: 15px;
  top: 15px;
}

.navbar {
  z-index: 9;
  background-color: white;
}
@media only screen and (min-width: 992px) {
  .navbar {
    position: sticky;
    top: 0;
  }
}
.navbar .nav-tabs {
  width: 184px !important;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 992px) {
  .mapsticky {
    position: sticky;
    top: 75px;
  }
}

.border-to-right {
  position: relative;
}
.border-to-right::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  background-color: #dddddd;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 4px;
}/*# sourceMappingURL=style.css.map */
/*about*/
.mb-4px {
  margin-bottom: 4px !important;
}

.mb-18 {
  margin-bottom: 18px;
}

.abouttitle {
  color: #222;
  font-size: 38px;
  font-weight: 600;
}
@media only screen and (min-width: 992px) {
  .abouttitle {
    font-size: 48px;
  }
}

.subtext {
  color: #CB4C14;
  font-weight: 600;
  font-size: 22px;
  margin: 18px 0;
}
@media only screen and (min-width: 992px) {
  .subtext {
    font-size: 32px;
    margin: 32px 0;
  }
}

.aboutustext {
  padding: 32px;
  border-radius: 16px;
  background: #FFF;
  max-width: 1006px;
  margin: auto;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
.aboutustext p {
  color: #717171;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
@media only screen and (min-width: 992px) {
  .aboutustext {
    margin-top: -30px;
  }
}

.secttitle {
  color: #222;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-bottom: 60px;
}
.secttitle::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #E86831;
  left: 0;
  bottom: -5px;
  right: 0;
  margin: auto;
}

.secttitle2 {
  margin: 0 auto 60px 0;
}

@media only screen and (min-width: 992px) {
  .howwework {
    display: flex;
  }
}
.howwework .card {
  border-radius: 16px;
  border: 1px solid #F4F4F4;
  padding: 20px;
}
.howwework p {
  color: #717171;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  max-width: 952px;
  margin: auto;
}
@media only screen and (min-width: 992px) {
  .howwework .centercard {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.listresult {
  padding: 34px 0;
}
@media only screen and (min-width: 992px) {
  .listresult {
    padding: 64px 0;
  }
}

@media only screen and (max-width: 992px) {
  .my-md-64px {
    margin-top: 34px;
    margin-bottom: 34px;
  }
  .mt-md-64px {
    margin-top: 34px;
  }
}
@media only screen and (min-width: 992px) {
  .my-md-64px {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .mt-md-64px {
    margin-top: 64px;
  }
}
.howwegetprices {
  max-width: 874px;
  margin: auto;
}
.howwegetprices .card {
  border-radius: 16px;
  border: 1px solid #F4F4F4;
  padding: 20px;
  height: 100%;
  margin-bottom: 20px;
}

.getreviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} 
.getreviews .getreview {
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  color: #717171;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  padding: 18px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px 32px;
}
@media only screen and (max-width: 600px) {
  .getreviews .getreview {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .getreviews .getreview {
    min-width: 181px;
    max-width: 513px;
  }
}/*# sourceMappingURL=style.css.map */
@media only screen and (min-width: 992px) {
  .banner-container .banner-text {
    top: 130px;
  }
}
@media only screen and (max-width: 600px) {
  .banner-container .banner-text {
    top: unset;
    font-size: 40px;
    bottom: 32px;
    padding: 4px;
  }
}
.banner-container {
  position: relative;
}
@media only screen and (max-width: 600px) {
  .banner-container img {
    height: 60vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.banner-container .banner-text {
  position: absolute;
  color: #FFF;
  text-align: center;
  font-weight: 800;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 437px;
  font-size: 56px;
}
/*Terms*/
.tnctext a {
  color: #4A4A4A;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 25px;
}

.tnc-left a {
  color: #717171;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 13px;
  display: block;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .fssm14 {
    font-size: 14px !important;
  }
}
.fs15 {
  font-size: 15px;
}

.fs14 {
  font-size: 14px;
}

.fs-32 {
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  .fs-32 {
    font-size: 32px;
  }
}

.fs12 {
  font-size: 12px;
}

.fs24 {
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  .fs24 {
    font-size: 24px;
  }
}

.fs18 {
  font-size: 18px;
}

.fs22 {
  font-size: 22px;
}

.fs14 {
  font-size: 14px;
}
.fw-500 {
  font-weight: 500;
}
.mb-16 {
  margin-bottom: 16px;
}
/*end terms*/

/*custom css */


.text-deco{
  text-decoration: none;
}

.nearby-restaurant{
  width: fit-content;
}

/*- custom--*/
.bg-e {
  background-color: #f7f8f8;
}
.leaflet-shadow-pane{
	display:none;
}
.leaflet-popup-close-button {
  display: none !important;
}